@import url("http://fonts.googleapis.com/css?family=Material+Icons");
@import url("http://fonts.googleapis.com/css?family=Roboto");
@import url("http://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("http://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://unpkg.com/ress/dist/ress.min.css");
/* 1018271197 */.package {
	font-weight: bold;
}

/* 1019207516 */.parameters::before {
	content: '<';
}

/* 1019207516 */.parameters::after {
	content: '>';
}

/* 1043090763 */a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

/* 1043090763 */a:hover {
	text-decoration: underline;
	text-decoration-color: hsla(240,7%,29%,0.5);
	text-underline-offset: 4px;
	text-underline-position: under;
}

/* 1300389310 */.extends::before {
	content: ' extends ';
}

/* 1482910544 */.Enum::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(0,29%,49%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'E';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 3px;
	color: hsl(0,0%,100%);
	background-color: hsl(0,29%,49%);
}

/* 1509114479 */.FINAL {
	position: relative;
}

/* 1509114479 */.FINAL::before {
	color: hsl(200,71%,30%);
	font-size: 0.6rem;
	font-family: "Roboto Mono";
	content: 'F';
	position: absolute;
	top: -0.2rem;
	left: 0.7rem;
}

/* 1669417918 */i[array=var]::after {
	content: '...';
}

/* 1741615101 */.PRIVATE {
	position: relative;
}

/* 1741615101 */.PRIVATE::before {
	content: '';
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: hsl(2,68%,58%);
	margin-right: 0.6rem;
}

/* 1741615101 */.PRIVATE.FIELD::before {
	content: '\e836';
}

/* 1798217138 */.pretty {
	display: block;
}

/* 1825091071 */.vs__dropdown-toggle {
	background-color: hsl(0,0%,100%);
}

/* 1841440668 */.Interface::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(271,30%,50%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'I';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 50%;
	color: hsl(271,30%,50%);
}

/* 1890686675 */.PACKAGEPRIVATE {
	position: relative;
}

/* 1890686675 */.PACKAGEPRIVATE::before {
	content: '';
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: hsl(200,71%,30%);
	margin-right: 0.6rem;
}

/* 1890686675 */.PACKAGEPRIVATE.FIELD::before {
	content: '\e836';
}

/* 1912609905 */.DEFAULT {
	position: relative;
}

/* 1912609905 */.DEFAULT::before {
	color: hsl(200,71%,30%);
	font-size: 0.6rem;
	font-family: "Roboto Mono";
	content: 'D';
	position: absolute;
	top: -0.2rem;
	left: 0.7rem;
}

/* 2010176442 */.PROTECTED {
	position: relative;
}

/* 2010176442 */.PROTECTED::before {
	content: '';
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: hsl(48,95%,59%);
	margin-right: 0.6rem;
}

/* 2010176442 */.PROTECTED.FIELD::before {
	content: '\e836';
}

/* 2013342140 */i {
	font-style: normal;
}

/* 2105232900 */.Functional::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(271,30%,50%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'F';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 50%;
	color: hsl(271,30%,50%);
}

/* 2106614863 */.TRANSIENT {
	position: relative;
}

/* 2106614863 */.TRANSIENT::after {
	color: hsl(200,71%,30%);
	font-size: 0.7rem;
	font-family: "Material Icons";
	content: '\e14c';
	position: absolute;
	top: 0.5rem;
	left: 0.4rem;
}

/* 2135889206 */.Annotation::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(200,71%,30%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'A';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 3px;
	color: hsl(0,0%,100%);
	background-color: hsl(200,71%,30%);
}

/* 260115480 */.ABSTRACT {
	position: relative;
}

/* 260115480 */.ABSTRACT::before {
	color: hsl(200,71%,30%);
	font-size: 0.6rem;
	font-family: "Roboto Mono";
	content: 'A';
	position: absolute;
	top: -0.2rem;
	left: 0.7rem;
}

/* 286787408 */.super::before {
	content: ' super ';
}

/* 302256620 */.VOLATILE {
	position: relative;
}

/* 302256620 */.VOLATILE::before {
	color: hsl(200,71%,30%);
	font-size: 0.6rem;
	font-family: "Roboto Mono";
	content: 'V';
	position: absolute;
	top: -0.2rem;
	left: 0.7rem;
}

/* 333281415 */html {
	font-size: 14px;
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
	word-break: break-all;
}

/* 333281415 */html *[class|=el] {
	font-size: 1rem;
}

/* 340670126 */.AbstractClass::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(150,46%,36%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'C';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 50%;
	color: hsl(150,46%,36%);
}

/* 439657758 */.tree {
	overflow: hidden;
	scrollbar-width: thin;
	height: 60vh;
	background-color: inherit;
}

/* 439657758 */.tree:hover {
	overflow-y: auto;
}

/* 439657758 */.tree dt {
	font-weight: bold;
	cursor: pointer;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 2px;
}

/* 439657758 */.tree dt:hover {
	background-color: hsl(0,0%,100%);
	background-image: inherit;
	background-repeat: repeat;
}

/* 439657758 */.tree dd {
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	padding-left: 1rem;
	cursor: pointer;
	border-radius: 2px;
}

/* 439657758 */.tree dd:hover {
	background-color: hsl(0,0%,100%);
	background-image: inherit;
	background-repeat: repeat;
}

/* 449951543 */.Exception::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(2,68%,58%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'T';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 3px;
	color: hsl(0,0%,100%);
	background-color: hsl(2,68%,58%);
}

/* 509258969 */.SYNCHRONIZED {
	position: relative;
}

/* 509258969 */.SYNCHRONIZED::after {
	color: hsl(200,71%,30%);
	font-size: 0.7rem;
	font-family: "Material Icons";
	content: '\e8ae';
	position: absolute;
	top: 0.5rem;
	left: 0.4rem;
}

/* 554055165 */i[array=fix]::after {
	content: '[]';
}

/* 610358919 */.Class::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(150,46%,36%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'C';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 50%;
	color: hsl(0,0%,100%);
	background-color: hsl(150,46%,36%);
}

/* 66853567 */.STATIC {
	position: relative;
}

/* 66853567 */.STATIC::after {
	color: hsl(2,68%,58%);
	font-size: 0.6rem;
	font-family: "Roboto Mono";
	content: 'S';
	position: absolute;
	top: -0.2rem;
	left: 0.3rem;
}

/* 671963778 */#SearchByName {
	display: block;
	width: 100%;
	background-color: hsl(0,0%,100%);
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 8px;
	padding-right: 8px;
	border-color: hsla(0,0%,24%,0.26);
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
}

/* 875175812 */.PUBLIC {
	position: relative;
}

/* 875175812 */.PUBLIC::before {
	content: '';
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: hsl(150,46%,36%);
	margin-right: 0.6rem;
}

/* 875175812 */.PUBLIC.FIELD::before {
	content: '\e836';
}

/* stoneforge.javadoc.ContentsView.style#MemberName */.X {
	font-family: Roboto;
	font-size: 1rem;
	font-weight: normal;
	display: block;
}

/* stoneforge.javadoc.ContentsView.style#MemberSection */.c {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	padding-left: 0.7rem;
	padding-right: 0.7rem;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	border-radius: 4px;
	background-color: hsl(0,0%,100%);
}

/* stoneforge.javadoc.ContentsView.style#Name */.L {
	font-weight: bold;
	margin-right: 0.175rem;
}

/* stoneforge.javadoc.ContentsView.style#PackcageName */.O {
	font-size: small;
}

/* stoneforge.javadoc.ContentsView.style#Return */.U {
	color: hsl(48,95%,29%);
}

/* stoneforge.javadoc.ContentsView.style#Return */.U::before {
	content: ':';
	padding-left: 0.3em;
	padding-right: 0.3em;
}

/* stoneforge.javadoc.ContentsView.style#SignatureDefinition */.a {
	position: relative;
}

/* stoneforge.javadoc.ContentsView.style#SignatureDefinition */.a::before {
	position: absolute;
	display: inline-block;
	width: 2.5rem;
	margin-left: -2.5rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* stoneforge.javadoc.ContentsView.style#SignatureException */.d {
	position: relative;
}

/* stoneforge.javadoc.ContentsView.style#SignatureException */.d::before {
	position: absolute;
	display: inline-block;
	width: 2.5rem;
	margin-left: -2.5rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* stoneforge.javadoc.ContentsView.style#SignatureException */.d::before {
	content: 'Throw';
}

/* stoneforge.javadoc.ContentsView.style#SignatureParameter */.P {
	position: relative;
}

/* stoneforge.javadoc.ContentsView.style#SignatureParameter */.P::before {
	position: absolute;
	display: inline-block;
	width: 2.5rem;
	margin-left: -2.5rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* stoneforge.javadoc.ContentsView.style#SignatureParameter */.P::before {
	content: 'Param';
}

/* stoneforge.javadoc.ContentsView.style#SignatureReturn */.N {
	position: relative;
}

/* stoneforge.javadoc.ContentsView.style#SignatureReturn */.N::before {
	position: absolute;
	display: inline-block;
	width: 2.5rem;
	margin-left: -2.5rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* stoneforge.javadoc.ContentsView.style#SignatureReturn */.N::before {
	content: 'Return';
	color: hsl(48,95%,29%);
}

/* stoneforge.javadoc.ContentsView.style#SignatureTable */.T {
	padding-left: 2.5rem;
	margin-top: 0.1rem;
	margin-bottom: 0.6rem;
}

/* stoneforge.javadoc.ContentsView.style#SignatureTable */.T td {
	padding-right: 0.8rem;
	vertical-align: top;
	text-overflow: ellipsis;
	line-height: 1.3;
}

/* stoneforge.javadoc.ContentsView.style#SignatureTable */.T td:not(:last-child) {
	white-space: nowrap;
}

/* stoneforge.javadoc.ContentsView.style#SignatureTable */.T td:empty::after {
	content: 'No description.';
}

/* stoneforge.javadoc.ContentsView.style#SignatureTypeVariable */.Y {
	position: relative;
}

/* stoneforge.javadoc.ContentsView.style#SignatureTypeVariable */.Y::before {
	position: absolute;
	display: inline-block;
	width: 2.5rem;
	margin-left: -2.5rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* stoneforge.javadoc.ContentsView.style#SignatureTypeVariable */.Y::before {
	content: 'Type';
}

/* stoneforge.javadoc.ContentsView.style#TypeComment */.H {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* stoneforge.javadoc.ContentsView.style#TypeName */.Q {
	font-family: Roboto;
	font-size: 1.2rem;
	font-weight: normal;
	display: block;
	margin-top: 0.5rem;
	margin-bottom: 0.3rem;
}

/* stoneforge.javadoc.ContentsView.style#TypeSection */.J {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* stoneforge.javadoc.ContentsView.style#lambda$26 */.C::before {
	content: 'Type';
}

/* stoneforge.javadoc.ContentsView.style#lambda$26 */.C li {
	width: 100%;
}

/* stoneforge.javadoc.ContentsView.style#lambda$26 */.C li > i:nth-child(1) {
	font-weight: bold;
}

/* stoneforge.javadoc.ContentsView.style#lambda$26 */.C li > i:nth-child(2) {
	color: hsl(240,7%,47%);
	margin-right: 1.5rem;
}

/* stoneforge.javadoc.ContentsView.style#lambda$32 */.D::before {
	content: 'Extends';
}

/* stoneforge.javadoc.ContentsView.style#lambda$32 */.D li:not(:last-child)::after {
	color: hsl(240,7%,59%);
	font-size: smaller;
	content: '\025b6';
	margin-left: 0.8rem;
	margin-right: 0.8rem;
}

/* stoneforge.javadoc.ContentsView.style#lambda$35 */.E::before {
	content: 'Implements';
}

/* stoneforge.javadoc.ContentsView.style#lambda$35 */.E li {
	margin-right: 1.4rem;
}

/* stoneforge.javadoc.ContentsView.style#lambda$38 */.F::before {
	content: 'Subtypes';
}

/* stoneforge.javadoc.ContentsView.style#lambda$38 */.F li {
	margin-right: 1.4rem;
}

/* stoneforge.javadoc.ContentsView.style#traits */.B {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 5rem;
}

/* stoneforge.javadoc.ContentsView.style#traits */.B::before {
	color: hsl(0,29%,49%);
	display: block;
	width: 5rem;
	margin-left: -5rem;
}

/* stoneforge.javadoc.ContentsView.style#traits */.B li {
	display: inline-block;
}

/* stoneforge.javadoc.MainPage.Styles#Contents */.e {
	flex-grow: 1;
	-webkit-flex-grow: 1;
	margin-left: 5rem;
	margin-right: 1.5rem;
}

/* stoneforge.javadoc.MainPage.Styles#HeaderArea */.K {
	background-color: inherit;
	background-image: inherit;
	background-repeat: repeat;
	position: sticky;
	top: 0;
	width: 85vw;
	height: 80px;
	z-index: 10;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	border-bottom-color: hsl(200,71%,30%);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/* stoneforge.javadoc.MainPage.Styles#HeaderTitle */.G {
	font-size: 2.5rem;
	font-family: Ubuntu;
	font-weight: normal;
	color: hsl(200,71%,30%);
	align-self: center;
}

/* stoneforge.javadoc.MainPage.Styles#MainArea */.S {
	width: 85vw;
	display: flex;
	flex-direction: row;
	margin-right: auto;
	margin-left: auto;
}

/* stoneforge.javadoc.MainPage.Styles#SubNavigation */.M {
	flex-basis: 20vw;
	-webkit-flex-basis: 20vw;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
}

/* stoneforge.javadoc.MainPage.Styles#SubNavigationStickyBlock */.W {
	position: sticky;
	top: 80px;
	display: block;
	height: calc(80vh - 80px);
	max-width: 20vw;
	overflow: auto;
	scrollbar-width: thin;
	white-space: nowrap;
}

/* stoneforge.javadoc.MainPage.Styles#SubNavigationStickyBlock */.W:hover {
	overflow-y: auto;
}

/* stoneforge.javadoc.MainPage.Styles#SubNavigationStickyBlock */.W>*>* {
	padding-top: 0.15em;
	padding-bottom: 0.15em;
}

/* stoneforge.javadoc.MainPage.Styles#TypeNavigation */.V {
	flex-basis: 15vw;
	-webkit-flex-basis: 15vw;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
}

/* stoneforge.javadoc.MainPage.Styles#TypeNavigation */.V>* {
	position: sticky;
	top: 80px;
}

/* stoneforge.javadoc.MainPage.Styles#TypeNavigation */.V>*>* {
	margin-top: 0.5rem;
}

/* stoneforge.javadoc.MainPage.Styles#TypeNavigation */.V .el-select {
	width: 100%;
}

/* stoneforge.javadoc.MainPage.Styles#TypeNavigation */.V .el-checkbox {
	display: block;
}

/* stoneforge.javadoc.MainPage.Styles#workbench */.Z {
	background-color: hsl(185,43%,95%);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAE0lEQVR4XmNggILbdx9uwsEAAgDBfQniz1+UngAAAABJRU5ErkJggg==);
	background-repeat: repeat;
	font-size: 12px;
	font-family: Roboto;
	color: hsl(240,7%,29%);
	line-height: 1.5;
	width: 100vw;
}

/* stoneforge.javadoc.Styles#JavadocComment */.A p {
	margin-bottom: 0.8rem;
}

/* stoneforge.javadoc.Styles#JavadocComment */.A dl {
	margin-bottom: 0.8rem;
}

/* stoneforge.javadoc.Styles#JavadocComment */.A ul {
	margin-bottom: 0.8rem;
	list-style-position: inside;
}

/* stoneforge.javadoc.Styles#JavadocComment */.A ol {
	margin-bottom: 0.8rem;
	list-style-position: inside;
}

/* stoneforge.javadoc.Styles#JavadocComment */.A pre {
	margin-bottom: 0.8rem;
	font-family: Roboto;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	border-radius: 4px;
}

/* stoneforge.javadoc.Styles#JavadocComment */.A blockquote {
	margin-bottom: 0.8rem;
}

/* stoneforge.javadoc.Styles#SignatureParameterPart */.b {
	color: hsl(240,7%,47%);
}

/* stoneforge.javadoc.SubNavigationView.Styles#Return */.I {
	color: hsl(48,95%,29%);
}

/* stoneforge.javadoc.SubNavigationView.Styles#Return */.I::before {
	content: ':';
	padding-left: 0.3em;
	padding-right: 0.3em;
}

/* stoneforge.javadoc.SubNavigationView.Styles#Title */.R {
	margin-top: 0.9rem;
	font-weight: bold;
	font-size: 1rem;
}

