@import url("http://fonts.googleapis.com/css?family=Material+Icons");
@import url("http://fonts.googleapis.com/css?family=Roboto");
@import url("http://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("http://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://unpkg.com/ress/dist/ress.min.css");
/* 1033913854 */.AbstractClass::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(150,46%,36%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'C';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 50%;
	color: hsl(150,46%,36%);
}

/* 1165128113 */a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

/* 1165128113 */a:hover {
	text-decoration: underline;
	text-decoration-color: hsla(240,7%,29%,0.5);
}

/* 1317605460 */.Exception::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(2,68%,58%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'T';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 3px;
	color: hsl(0,0%,100%);
	background-color: hsl(2,68%,58%);
}

/* 1322048236 */.tree {
	overflow: hidden;
	scrollbar-width: thin;
	height: 60vh;
	background-color: inherit;
}

/* 1322048236 */.tree:hover {
	overflow-y: auto;
}

/* 1322048236 */.tree dt {
	font-weight: bold;
	cursor: pointer;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 2px;
}

/* 1322048236 */.tree dt:hover {
	background-color: hsl(0,0%,100%);
	background-image: inherit;
	background-repeat: repeat;
}

/* 1322048236 */.tree dd {
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	padding-left: 1rem;
	cursor: pointer;
	border-radius: 2px;
	white-space: nowrap;
}

/* 1322048236 */.tree dd:hover {
	background-color: hsl(0,0%,100%);
	background-image: inherit;
	background-repeat: repeat;
}

/* 1326688848 */code[array=fix]::after {
	content: '[]';
}

/* 1392086043 */.FINAL {
	position: relative;
}

/* 1392086043 */.FINAL::before {
	color: hsl(200,71%,30%);
	font-size: 0.6rem;
	font-family: "Roboto Mono";
	content: 'F';
	position: absolute;
	top: -0.2rem;
	left: 0.7rem;
}

/* 1432315444 */.VOLATILE {
	position: relative;
}

/* 1432315444 */.VOLATILE::before {
	color: hsl(200,71%,30%);
	font-size: 0.6rem;
	font-family: "Roboto Mono";
	content: 'V';
	position: absolute;
	top: -0.2rem;
	left: 0.7rem;
}

/* 1447029382 */html {
	font-size: 14px;
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
	word-break: break-all;
}

/* 1447029382 */html *[class|=el] {
	font-size: 1rem;
}

/* 157603305 */.super::before {
	content: ' super ';
}

/* 1598937160 */.extends::before {
	content: ' extends ';
}

/* 1611427359 */#SearchByName {
	display: block;
	width: 100%;
	background-color: hsl(0,0%,100%);
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 8px;
	padding-right: 8px;
	border-color: hsla(0,0%,24%,0.26);
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
}

/* 1642912161 */.SYNCHRONIZED {
	position: relative;
}

/* 1642912161 */.SYNCHRONIZED::after {
	color: hsl(200,71%,30%);
	font-size: 0.7rem;
	font-family: "Material Icons";
	content: '\e8ae';
	position: absolute;
	top: 0.5rem;
	left: 0.4rem;
}

/* 1786363162 */.PUBLIC {
	position: relative;
}

/* 1786363162 */.PUBLIC::before {
	content: '';
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: hsl(150,46%,36%);
	margin-right: 0.6rem;
}

/* 1786363162 */.PUBLIC.FIELD::before {
	content: '\e836';
}

/* 180381625 */.DEFAULT {
	position: relative;
}

/* 180381625 */.DEFAULT::before {
	color: hsl(200,71%,30%);
	font-size: 0.6rem;
	font-family: "Roboto Mono";
	content: 'D';
	position: absolute;
	top: -0.2rem;
	left: 0.7rem;
}

/* 1813283741 */code {
	font-family: inherit;
}

/* 1907958824 */.Annotation::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(200,71%,30%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'A';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 3px;
	color: hsl(0,0%,100%);
	background-color: hsl(200,71%,30%);
}

/* 2036800555 */.Functional::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(271,30%,50%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'F';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 50%;
	color: hsl(271,30%,50%);
}

/* 2123086977 */.pretty {
	display: block;
}

/* 313218912 */.ABSTRACT {
	position: relative;
}

/* 313218912 */.ABSTRACT::before {
	color: hsl(200,71%,30%);
	font-size: 0.6rem;
	font-family: "Roboto Mono";
	content: 'A';
	position: absolute;
	top: -0.2rem;
	left: 0.7rem;
}

/* 326052881 */.PRIVATE {
	position: relative;
}

/* 326052881 */.PRIVATE::before {
	content: '';
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: hsl(2,68%,58%);
	margin-right: 0.6rem;
}

/* 326052881 */.PRIVATE.FIELD::before {
	content: '\e836';
}

/* 367166793 */.PACKAGEPRIVATE {
	position: relative;
}

/* 367166793 */.PACKAGEPRIVATE::before {
	content: '';
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: hsl(200,71%,30%);
	margin-right: 0.6rem;
}

/* 367166793 */.PACKAGEPRIVATE.FIELD::before {
	content: '\e836';
}

/* 386775391 */.parameters::before {
	content: '<';
}

/* 386775391 */.parameters::after {
	content: '>';
}

/* 459212317 */.TRANSIENT {
	position: relative;
}

/* 459212317 */.TRANSIENT::after {
	color: hsl(200,71%,30%);
	font-size: 0.7rem;
	font-family: "Material Icons";
	content: '\e14c';
	position: absolute;
	top: 0.5rem;
	left: 0.4rem;
}

/* 68170953 */.package {
	font-weight: bold;
}

/* 729051711 */.Interface::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(271,30%,50%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'I';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 50%;
	color: hsl(271,30%,50%);
}

/* 767720637 */.PROTECTED {
	position: relative;
}

/* 767720637 */.PROTECTED::before {
	content: '';
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: hsl(48,95%,59%);
	margin-right: 0.6rem;
}

/* 767720637 */.PROTECTED.FIELD::before {
	content: '\e836';
}

/* 813621320 */.Enum::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(0,29%,49%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'E';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 3px;
	color: hsl(0,0%,100%);
	background-color: hsl(0,29%,49%);
}

/* 886690315 */.STATIC {
	position: relative;
}

/* 886690315 */.STATIC::after {
	color: hsl(2,68%,58%);
	font-size: 0.6rem;
	font-family: "Roboto Mono";
	content: 'S';
	position: absolute;
	top: -0.2rem;
	left: 0.3rem;
}

/* 900609452 */code[array=var]::after {
	content: '...';
}

/* 919858540 */.vs__dropdown-toggle {
	background-color: hsl(0,0%,100%);
}

/* 940808447 */.Class::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(150,46%,36%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'C';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 50%;
	color: hsl(0,0%,100%);
	background-color: hsl(150,46%,36%);
}

/* stoneforge.javadoc.ContentsView.style#MemberName */.I {
	font-family: Roboto;
	font-size: 1rem;
	font-weight: normal;
	display: block;
}

/* stoneforge.javadoc.ContentsView.style#MemberSection */.O {
	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
	padding-left: 1.3rem;
	padding-right: 1.3rem;
	padding-top: 1.3rem;
	padding-bottom: 1.3rem;
	border-radius: 4px;
	background-color: hsl(0,0%,100%);
}

/* stoneforge.javadoc.ContentsView.style#Name */.R {
	font-weight: bold;
	font-style: normal;
	margin-right: 0.175rem;
}

/* stoneforge.javadoc.ContentsView.style#PackcageName */.L {
	font-size: small;
}

/* stoneforge.javadoc.ContentsView.style#Return */.Q {
	color: hsl(48,95%,29%);
}

/* stoneforge.javadoc.ContentsView.style#Return */.Q::before {
	content: ':';
	padding-left: 0.3em;
	padding-right: 0.3em;
}

/* stoneforge.javadoc.ContentsView.style#Sample */.J {
	margin-bottom: 0.3em;
}

/* stoneforge.javadoc.ContentsView.style#Sample */.J > code {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* stoneforge.javadoc.ContentsView.style#SampleDesc */.S {
	display: block;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	margin-top: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	background-color: hsl(0,0%,94%);
	border-bottom-style: double;
	border-bottom-color: white;
	border-bottom-width: 3px;
}

/* stoneforge.javadoc.ContentsView.style#SignatureDefinition */.T {
	position: relative;
}

/* stoneforge.javadoc.ContentsView.style#SignatureDefinition */.T::before {
	position: absolute;
	display: inline-block;
	width: 2.5rem;
	margin-left: -2.5rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* stoneforge.javadoc.ContentsView.style#SignatureException */.V {
	position: relative;
}

/* stoneforge.javadoc.ContentsView.style#SignatureException */.V::before {
	position: absolute;
	display: inline-block;
	width: 2.5rem;
	margin-left: -2.5rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* stoneforge.javadoc.ContentsView.style#SignatureException */.V::before {
	content: 'Throw';
}

/* stoneforge.javadoc.ContentsView.style#SignatureParameter */.P {
	position: relative;
}

/* stoneforge.javadoc.ContentsView.style#SignatureParameter */.P::before {
	position: absolute;
	display: inline-block;
	width: 2.5rem;
	margin-left: -2.5rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* stoneforge.javadoc.ContentsView.style#SignatureParameter */.P::before {
	content: 'Param';
}

/* stoneforge.javadoc.ContentsView.style#SignatureReturn */.g {
	position: relative;
}

/* stoneforge.javadoc.ContentsView.style#SignatureReturn */.g::before {
	position: absolute;
	display: inline-block;
	width: 2.5rem;
	margin-left: -2.5rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* stoneforge.javadoc.ContentsView.style#SignatureReturn */.g::before {
	content: 'Return';
	color: hsl(48,95%,29%);
}

/* stoneforge.javadoc.ContentsView.style#SignatureTable */.Y {
	padding-left: 2.5rem;
	margin-top: 0.1rem;
	margin-bottom: 0.6rem;
}

/* stoneforge.javadoc.ContentsView.style#SignatureTable */.Y td {
	padding-right: 0.8rem;
	vertical-align: top;
	text-overflow: ellipsis;
	line-height: 1.3;
}

/* stoneforge.javadoc.ContentsView.style#SignatureTable */.Y td:not(:last-child) {
	white-space: nowrap;
}

/* stoneforge.javadoc.ContentsView.style#SignatureTable */.Y td:empty::after {
	content: 'No description.';
}

/* stoneforge.javadoc.ContentsView.style#SignatureTypeVariable */.Z {
	position: relative;
}

/* stoneforge.javadoc.ContentsView.style#SignatureTypeVariable */.Z::before {
	position: absolute;
	display: inline-block;
	width: 2.5rem;
	margin-left: -2.5rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* stoneforge.javadoc.ContentsView.style#SignatureTypeVariable */.Z::before {
	content: 'Type';
}

/* stoneforge.javadoc.ContentsView.style#TypeComment */.e {
	font-size: 14px;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* stoneforge.javadoc.ContentsView.style#TypeName */.f {
	font-family: Roboto;
	font-size: 1.2rem;
	font-weight: normal;
	display: block;
	margin-top: 0.5rem;
	margin-bottom: 0.3rem;
}

/* stoneforge.javadoc.ContentsView.style#TypeSection */.b {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* stoneforge.javadoc.ContentsView.style#lambda$26 */.C::before {
	content: 'Type';
}

/* stoneforge.javadoc.ContentsView.style#lambda$26 */.C li {
	width: 100%;
}

/* stoneforge.javadoc.ContentsView.style#lambda$26 */.C li > i:nth-child(1) {
	font-weight: bold;
}

/* stoneforge.javadoc.ContentsView.style#lambda$26 */.C li > i:nth-child(2) {
	color: hsl(240,7%,47%);
	margin-right: 1.5rem;
}

/* stoneforge.javadoc.ContentsView.style#lambda$32 */.D::before {
	content: 'Extends';
}

/* stoneforge.javadoc.ContentsView.style#lambda$32 */.D li:not(:last-child)::after {
	color: hsl(240,7%,59%);
	font-size: smaller;
	content: '\025b6';
	margin-left: 0.8rem;
	margin-right: 0.8rem;
}

/* stoneforge.javadoc.ContentsView.style#lambda$35 */.E::before {
	content: 'Implements';
}

/* stoneforge.javadoc.ContentsView.style#lambda$35 */.E li {
	margin-right: 1.4rem;
}

/* stoneforge.javadoc.ContentsView.style#lambda$38 */.F::before {
	content: 'Subtypes';
}

/* stoneforge.javadoc.ContentsView.style#lambda$38 */.F li {
	margin-right: 1.4rem;
}

/* stoneforge.javadoc.ContentsView.style#traits */.B {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 5rem;
}

/* stoneforge.javadoc.ContentsView.style#traits */.B::before {
	color: hsl(0,29%,49%);
	display: block;
	width: 5rem;
	margin-left: -5rem;
}

/* stoneforge.javadoc.ContentsView.style#traits */.B li {
	display: inline-block;
}

/* stoneforge.javadoc.MainPage.Styles#Contents */.W {
	flex-grow: 1;
	-webkit-flex-grow: 1;
	margin-left: 3rem;
	margin-right: 3rem;
}

/* stoneforge.javadoc.MainPage.Styles#HeaderArea */.X {
	background-color: inherit;
	background-image: inherit;
	background-repeat: repeat;
	position: sticky;
	top: 0;
	width: 90vw;
	height: 80px;
	z-index: 10;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	border-bottom-color: hsl(200,71%,30%);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/* stoneforge.javadoc.MainPage.Styles#HeaderTitle */.M {
	font-size: 2.5rem;
	font-family: Ubuntu;
	font-weight: normal;
	color: hsl(200,71%,30%);
	align-self: center;
}

/* stoneforge.javadoc.MainPage.Styles#MainArea */.d {
	width: 90vw;
	display: flex;
	flex-direction: row;
	margin-right: auto;
	margin-left: auto;
}

/* stoneforge.javadoc.MainPage.Styles#SubNavigation */.U {
	flex-basis: 20vw;
	-webkit-flex-basis: 20vw;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
}

/* stoneforge.javadoc.MainPage.Styles#SubNavigationStickyBlock */.N {
	position: sticky;
	top: 80px;
	display: block;
	height: calc(80vh - 80px);
	max-width: 20vw;
	overflow: auto;
	scrollbar-width: thin;
	white-space: nowrap;
}

/* stoneforge.javadoc.MainPage.Styles#SubNavigationStickyBlock */.N:hover {
	overflow-y: auto;
}

/* stoneforge.javadoc.MainPage.Styles#SubNavigationStickyBlock */.N>*>* {
	padding-top: 0.15em;
	padding-bottom: 0.15em;
}

/* stoneforge.javadoc.MainPage.Styles#TypeNavigation */.H {
	flex-basis: 17vw;
	-webkit-flex-basis: 17vw;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
}

/* stoneforge.javadoc.MainPage.Styles#TypeNavigation */.H>* {
	position: sticky;
	top: 80px;
}

/* stoneforge.javadoc.MainPage.Styles#TypeNavigation */.H>*>* {
	margin-top: 0.5rem;
}

/* stoneforge.javadoc.MainPage.Styles#TypeNavigation */.H .el-select {
	width: 100%;
}

/* stoneforge.javadoc.MainPage.Styles#TypeNavigation */.H .el-checkbox {
	display: block;
}

/* stoneforge.javadoc.MainPage.Styles#workbench */.a {
	background-color: hsl(185,43%,95%);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAE0lEQVR4XmNggILbdx9uwsEAAgDBfQniz1+UngAAAABJRU5ErkJggg==);
	background-repeat: repeat;
	font-size: 12px;
	font-family: Roboto;
	color: hsl(240,7%,29%);
	line-height: 1.5;
	width: 100vw;
}

/* stoneforge.javadoc.Styles#JavadocComment */.A p {
	margin-bottom: 0.8rem;
}

/* stoneforge.javadoc.Styles#JavadocComment */.A dl {
	margin-bottom: 0.8rem;
}

/* stoneforge.javadoc.Styles#JavadocComment */.A ul {
	margin-bottom: 0.8rem;
	list-style-position: inside;
}

/* stoneforge.javadoc.Styles#JavadocComment */.A ol {
	margin-bottom: 0.8rem;
	list-style-position: inside;
}

/* stoneforge.javadoc.Styles#JavadocComment */.A pre {
	margin-bottom: 0.8rem;
	font-family: Roboto;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	border-radius: 4px;
}

/* stoneforge.javadoc.Styles#JavadocComment */.A blockquote {
	margin-bottom: 0.8rem;
}

/* stoneforge.javadoc.Styles#SignatureParameterPart */.G {
	color: hsl(240,7%,47%);
}

/* stoneforge.javadoc.SubNavigationView.Styles#Return */.K {
	color: hsl(48,95%,29%);
}

/* stoneforge.javadoc.SubNavigationView.Styles#Return */.K::before {
	content: ':';
	padding-left: 0.3em;
	padding-right: 0.3em;
}

/* stoneforge.javadoc.SubNavigationView.Styles#Title */.c {
	margin-top: 0.9rem;
	font-weight: bold;
	font-size: 1rem;
}

